<video autoplay muted loop id="myVideo">
  <source
    src="https://freefrontend.com/assets/img/css-animated-backgrounds/Sliding-Diagonals-Background-Effect-HTML-CSS.mp4"
    type="video/mp4">
</video>

<div class="signup-container">

  <div class="picture1">&nbsp;</div>
  <form class="signup-form">

    <mat-form-field class="signup-full-width">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" type="text" name="username">
    </mat-form-field>

    <mat-form-field class="signup-full-width">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="parola" type="password" name="parola">
    </mat-form-field>


    <button mat-raised-button routerLink={{catrePlatforma}} (click)="signIn();" class="signup-button" color="primary">SIGN IN</button>
    <p></p>
  </form>
  <div class="goto-login">
    Doresti sa te inregistrezi? <a routerLink="/signup" routerLinkActive="active" style="text-decoration: none;">Click
    aici</a>
  </div>
</div>

