<div class="meniu">
  <div class="logo">

  </div>
  <div class="submeniu">
    <button mat-button (click)="redirectToGaraj();">Garaj</button>
    <button mat-button>Stare tehnica</button>
    <button mat-button (click)="getDocumente();redirectToDocumente();">Documente</button>
    <button mat-button (click)="redirectToAccount();">{{Message}}</button>

  </div>
</div>

<div class="flex-container">
  <div *ngFor="let item of masiniUtilizatorLogat;" class="card">
    <img src="https://img.pngio.com/car-running-on-a-road-animation-using-css-png-images-of-a-car-on-a-road-1140_459.png" alt="Avatar" style="width:100%">
    <h1>{{ item.marca }} {{ item.model }}</h1>
    <p class="title">{{ item.nrinmatriculare }}</p>
    <p>{{ item.tipcombustibil }}</p>
    <p>ID:{{item.id}}</p>
  </div>

</div>


<div class="buttons">

  <div class="button">
    <button (click)="addCar();" mat-fab color="accent" aria-label="Adauga o masina">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>

  <div class="button">
    <button (click)="delCar();" mat-fab color="primary" aria-label="Sterge o masina">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-form-field style="margin-left: 10px;">
      <mat-label>ID Masina</mat-label>
      <input matInput [(ngModel)]="id_car_stergere" type="number" name="id_doc_stergere">
    </mat-form-field>
  </div>

</div>
