<div class="meniu">
  <div class="logo">

  </div>
  <div class="submeniu">
    <button mat-button>Garaj</button>
    <button mat-button>Stare tehnica</button>
    <button mat-button (click)="redirectToDocumente();">Documente</button>
    <button mat-button (click)="redirectToAccount();">{{Message}}</button>

  </div>
</div>

<div class="masina"></div>
<div class="docs"></div>
<div class="settings"></div>
<div class="footer">
  <h1 style="text-align: center;color: white;">Project made by ARCA team.</h1>
</div>
