<div class="meniu">
  <div (click)="redirectToPlatform();" style="cursor: pointer;" class="logo">

  </div>
  <div class="submeniu">
    <button mat-button>Garaj</button>
    <button mat-button>Stare tehnica</button>
    <button mat-button>Documente</button>
    <button mat-button (click)="redirectToAccount();">{{username}}</button>

  </div>
</div>

<div class="Table-search">
  <mat-form-field>
    <mat-label>Filtru</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: alimentare">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      </ng-container>

      <!-- VIN Column -->
      <ng-container matColumnDef="vin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VIN</th>

      </ng-container>

      <!-- Tip document Column -->
      <ng-container matColumnDef="tipdocument">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tip document</th>

      </ng-container>

      <!-- Data expirare Column -->
      <ng-container matColumnDef="dataexpirare">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data expirare</th>

      </ng-container>

      <!-- Pret Column -->
      <ng-container matColumnDef="pret">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pret</th>
      </ng-container>

      <!-- Imagine Column -->
      <ng-container matColumnDef="imagine">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagine</th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">

      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>

<p>ALO: {{dataSource}}</p>
<p>ALO: {{dataSource[0]}}</p>
<p>ALO: {{dataSource[1]}}</p>
<p>ALO: {{dataSource[3]}}</p>
<p>ALO: {{dataSource[4]}}</p>
<p>ALO: {{dataSource[5]}}</p>
<p>ALO: {{dataSource[6]}}</p>
