<div class="meniu">
  <div (click)="redirectToPlatform();" style="cursor: pointer;" class="logo">

  </div>
  <div class="submeniu">
    <button mat-button (click)="redirectToGaraj();">Garaj</button>
    <button mat-button (click)="redirectToStareTehnica();">Stare tehnica</button>
    <button mat-button (click)="redirectToDocumente();">Documente</button>
    <button mat-button (click)="redirectToAccount();">{{Message}}</button>

  </div>
</div>


<div class="Table-search">

  <table id="docs">
    <tr>
      <th>ID Document</th>
      <th>VIN</th>
      <th>Tip document</th>
      <th>Data expirare</th>
      <th>Pret</th>
    </tr>
    <ng-container *ngFor="let doc of documenteUtilizatorLogat">
      <tr>
        <td>{{doc.iddocument}}</td>
        <td>{{doc.vin}}</td>
        <td>{{doc.tipdocument}}</td>
        <td>{{doc.dataexpirare}}</td>
        <td>{{doc.pret}} RON</td>
      </tr>
    </ng-container>
  </table>

  <button style="width: 100%;" (click)="redirectToAddDoc();" mat-raised-button color="primary"> + Adauga un document</button>

  <br>
  <br>
  <br>
  <br>  <mat-form-field>
    <mat-label>ID Document</mat-label>
    <input matInput [(ngModel)]="id_doc_stergere" type="number" name="id_doc_stergere">
  </mat-form-field>
  <button style="width: 100%;" (click)="stergereDocument();redirectToDelDoc();" mat-raised-button color="warn"> - Sterge un document</button>
  <p style="text-align: center; color: red; font-size: 20px;">{{show_message}}</p>

</div>
